.main-footer-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: rgba(16, 11, 32, 1);
  margin-top: 4rem;
  padding: 1.2em;
}
.main-footer-section > p {
  align-self: center;
  margin-top: 1.5rem;
}
.aside-container {
  display: flex;
  justify-content: space-around;
}
.first-footer-section {
  max-width: 412px;
}
.first-footer-section > h1 {
  color: white;
}
.first-footer-section > p {
  margin-bottom: 1.5rem;
}
.first-footer-section > h4 {
  color: white;
}
.second-footer-section {
  max-width: 412px;
}
.second-footer-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.second-footer-section > li {
  color: white;
}
.second-footer-section > h3 {
  color: rgba(212, 52, 254, 1);
}
.contact-footer-section {
  max-width: 400px;
}
.last-list {
  display: flex;
  gap: 10px;
}
.contact-footer-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-footer-section > p {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media screen and (max-width: 978px) {
  .main-footer-section {
    gap: 40px;
    text-align: center;
  }
  .last-list {
    justify-content: center;
  }
  .aside-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .contact-footer-section > p {
    justify-content: center;
  }
}
