.headers {
  display: flex;
  justify-content: space-around;
  margin-top: 1.4rem;
}
.headers img {
  display: flex;
}
.listItem {
  display: flex;
  align-items: center;
}
.listItem li {
  margin: 0 1.3em 0 1.3em;
  color: rgba(255, 255, 255, 1);
}
.btn {
  display: flex;
  align-items: center;
}
.listItem button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 132px;
  height: 56px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 3em;
}
.logo {
  margin-top: 0.85em;
}
.hamburger-section {
  display: none;
}
.line {
  border: 0.7px solid rgba(255, 255, 255, 0.18);
  margin-top: 2.2em;
}
@media screen and (max-width: 1040px) {
  .headers {
    justify-content: space-between;
    margin: 0 0.7em 0 0.7em;
  }
  .listItem {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    gap: 28px;
    transition: 0.4s;
    z-index: 6;
    background: linear-gradient(0deg, #150e28, #150e28),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.04)
      );
  }
  .hamburger-section {
    margin-top: 1.1rem;
    display: initial;
  }
}
